/* Give the body initial styles */ 
body {
    display: flex;
    flex-direction: column;
    margin: 80px 20px 0 20px ;
    background: url("../images/pexels-bk.webp") no-repeat center center/cover ;               
 }

 /* CSS for styling the Navbar buttons and logo image */

 .navbar {           
    height: 4rem;  
    background: url("../images/pexels-bk.webp") no-repeat center center/cover ;              
    box-shadow: 10px 10px 10px 5px;
}

/* Add and style logo image to the page */ 
#logo-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
  .logo {
    height: 50px;
    width: 100px;
    background: url("../images/Logo.png") no-repeat center center/cover ;
    z-index: 0;
  }    

.collapse {      
  height: 2rem;
}

  .navbar-button {
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #AB9379;
    opacity: 98%;        
    box-shadow: 1px 1px 1px 1px #454545;  
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    margin-right: 10px;
}
  #home-button:hover, #contact-button:hover, #play-button:hover, #clk_btn_h:hover{
      background-color: #000;
      color:#fe0831;
      font-size: 1.2rem;
      transition-delay: 0.2s;
  }

  #main-container {
    margin: 0;
  }

  #how-to-play{
    order: 5;
  }

  /* CSS for styling the Tic Tac Toe board */
  #tools-container{
    display: flex;
    justify-content: center;
  }
  

  /* Score boared Styles */ 
  #score-content{
    width: 100%;
    padding:10px;
    flex-direction: row;
  }
  
  .board {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.2rem;          
      margin: 30px;          
  }

  .cell {
      width: 100px;
      height:100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      font-weight: bold;
      border: 2px solid #000;
      cursor: pointer;
      border-radius: 1rem;
      box-shadow: 2px 2px 0px;           
  }

  .score {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
  }
  
  #mode-selection, #game-content {
      text-align: center;
      margin-top: 20px;
  }

  #reset-button,button{
    border-radius: 10px;
    background-color: #AB9379;
    height: 3rem;
    box-shadow: 5px 5px;
  }

  #mode-selection button {
      margin: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 10px;
      background-color: #AB9379;
  }

  /* CSS for styling the Contact Us form */
      .contact-form {
          display: none; /* Initially hidden */
          max-width: 400px;
          margin: 0 auto;
      }

      .contact-form input[type="text"],
      .contact-form input[type="email"],
      .contact-form textarea,
      .contact-form input[type="submit"] {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          padding: 10px;
          font-size: 16px;
          border-radius: 5px;
          
      }

  /* footer style */
  #footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:auto;                        
  }

  #creater {
    display: flex;        
    align-items: center;        
  }

  #creater>p{
    font-size: 10px;
  }
  
  
  #social-networks{
    height: 5rem; 
    margin-right: 2%;       
    justify-content: center; 
    align-items: center;
    font-size: 1.5rem;
    color: rgb(26, 21, 21);         
  }
  #social-networks li{
    padding: 5%;
                   
  }

  #social-networks i{
    padding: 1%;
    color: rgb(0, 0, 0);                      
  }

/* 404 page */

#P_404 {
  height: 600px;
  width: 100%; 
  font-size: 1.3rem;  
}

#page_404 {
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: #fe0831;
  text-shadow: 1px 2px #000000;
  padding: 0.5rem;  
  }

  #clk_btn_h{
    padding: 5px;
    color: #fe0831;
    background: #88745e ;
    box-shadow: 5px 5px 5px 5px #000000;
    text-shadow: 0px 0px #000000;
    font-size: 1.5rem;
    border-radius: 5px;
}


/* Adjuste elements to mobil/tablet devices screen*/
@media screen and (min-width: 700px) {

        
  #creater>p{
      font-size: 20px;
    }
  }      

/* Adjuste elements to mobil/tablet devices screen*/
@media screen and (min-width: 900px) {

  .navbar-button {            
      width: 200px;            
  }



  #social-networks{           
      font-size: 3rem;                     
    }

  #creater>p{
      font-size: 20px;
    }
} 